aiohttp==3.6.2
appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.2.0
backtrader==1.9.76.123
beautifulsoup4==4.9.1
bleach==3.1.5
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.3
cycler==0.10.0
dateutils==0.6.8
decorator==4.4.2
defusedxml==0.6.0
dnspython==2.0.0
email-validator==1.1.1
entrypoints==0.3
ffn==0.3.4
filelock==3.0.12
future==0.18.2
google==3.0.0
grpcio==1.30.0
gym==0.17.2
h5py @ file:///opt/concourse/worker/volumes/live/98bee3fd-2687-4017-5421-d742d1f18c35/volume/h5py_1593454156895/work
idna==2.10
importlib-metadata @ file:///opt/concourse/worker/volumes/live/84197498-cbc0-4436-7ce0-03c4490b7a28/volume/importlib-metadata_1593446431408/work
inflection==0.5.0
ipykernel @ file:///opt/concourse/worker/volumes/live/73e8766c-12c3-4f76-62a6-3dea9a7da5b7/volume/ipykernel_1596206701501/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/7ea70a71-5624-4799-50b3-3b90e07922f3/volume/ipython_1593447385860/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi @ file:///opt/concourse/worker/volumes/live/114a62c0-dd60-4a40-6382-85abb31b5f6e/volume/jedi_1592841953086/work
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
llvmlite==0.33.0
Logbook==1.5.3
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
modin==0.7.4
more-itertools==8.4.0
msgpack==1.0.0
multidict==4.7.6
multitasking==0.0.9
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numba==0.50.1
numpy==1.19.1
packaging==20.4
pandas @ file:///opt/concourse/worker/volumes/live/38d1301c-8fa9-4d2f-662e-34dddf33b183/volume/pandas_1592841668171/work
pandas-datareader==0.9.0
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
py-spy==0.3.3
pyarrow==0.16.0
pyglet==1.5.0
Pygments==2.6.1
pyparsing==2.4.7
PyPrind==2.11.2
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
Quandl==3.5.2
ray==0.8.6
redis==3.4.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.2
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
TA-Lib==0.4.18
tabulate==0.8.7
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
urllib3==1.25.10
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
webull==0.1.0
widgetsnbextension==3.5.1
yarl==1.4.2
yfinance==0.1.54
zipp==3.1.0
